body {
    margin: 0;
    height: 100%;
    background-image: url('./assets/images/login_page_img.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*, *::after, *::before {
    box-sizing: border-box;
}