.op-input-text {
  input {
    padding: 6px 0;
    order: 2;
    border-radius: 25px;
    border: solid 1px #bbbbbb;
    height: 35px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(210, 210, 210, 0.7);
    &:focus {
      outline-offset: 0;
      outline: none;
    }
  }
  p {
    margin: 8px 5px;
  }
  span {
    i {
      position: absolute;
      margin: 14px;
    }
  }
}
