<div class="loginForm-container">
  <h1>Books of your Interest</h1>
  <form [formGroup]="loginForm" (submit)="submit()">
    <div class="form-group">
      <input class="form-control" formControlName="userName" placeholder="Username" />
      <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
        <p class="alert-error-class">
          Incorrect Email format.
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="password" type="password" placeholder="Password" />
      <ng-container *ngIf="password.invalid && (name.dirty || password.touched)">
        <p *ngIf="password.errors.minlength" class="alert-error-class">
          ! Password must be at least 8 characters long.
        </p>
      </ng-container>
    </div>
    <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Login</button>
  </form>
  <a href="">Create account</a> or 
  <a href="">Reset password</a>
  <!-- <p>Form status: {{ loginForm.status | json }}</p> -->
</div>