.loginForm-container {
    margin: 0 auto;
    width: 300px;
    display: block;
    text-align: center;
    padding: 1px;
    .form-group {
        margin: 15px 0;
        .form-control {
            padding: 10px;
            border-radius: 14px;
            width: 100%;
            border: none;
            display: block
        }
    }
    .login-btn {
        border: none;
        padding: 10px;
        border-radius: 14px;
        display: block;
        width: 100%;
    }
}