.loginForm-container {
    margin: 0 auto;
    width: 350px;
    display: block;
    text-align: center;
    padding: 1px;
    h1{
        color: #fff;
        margin: 100px 0 30px 0;
    }
    .form-group {
        margin: 25px 0;
        .form-control {
            width: 100%;
            display: block;
            width: 100%;
            line-height: 1.42857143;
            outline: none;
            &:focus {
                border: 1px solid rgb(5, 181, 187);
            }
        }
        .alert-error-class{
            color: rgb(146, 5, 5);
            margin-top: 5px;
        }
        input {
            color: #777;
            background: rgb(238, 241, 239);
            border: none;
            padding: 13px 15px;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
            -moz-box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
            box-shadow: inset 0 0 1px 1px rgba(150, 150, 150, .1);
        }
    }
    .login-btn {
        padding: 12px;
        display: block;
        width: 100%;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        background: #0c56a9;
        color: #fff;
        border: none;
        outline: none;
        &:hover {
            background-color: #5636e7;
        }
        &:active {
            background-color: #0c56a9;
            transform: translateY(4px);
          }
        &:disabled {
            background: #0c56a9;
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}